# Application Environment
ENV=dev
GRPC_PORT=50050
HTTP_PORT=50051

# Database Configuration
DATABASE_POSTGRES__HOST=localhost
DATABASE_POSTGRES__PORT=5434
DATABASE_POSTGRES__DATABASE=ecommerce
DATABASE_POSTGRES__SCHEMA=user
DATABASE_POSTGRES__USERNAME=root
DATABASE_POSTGRES__PASSWORD=Abc12345
DATABASE_POSTGRES__LOGGING_ENABLED=false
DATABASE_POSTGRES__AUTO_MIGRATION=false

# CORS Configuration
ALLOWED_ORIGINS="["http://localhost:5173", "http://172.93.163.153"]"
